# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Virtual environments (Poetry or manually created)
.venv/
venv/

# Distribution / packaging
build/
dist/
*.egg-info/
.eggs/
*.whl

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
coverage.xml
*.cover
.hypothesis/
.pytest_cache/

# PyCharm
.idea/
*.iml

# VS Code
.vscode/

# mypy, pyre, etc.
.mypy_cache/
.dmypy.json
.pyre/

# macOS
.DS_Store

# Other
*.log
*.sqlite3

# One Public Framework
/logs
/media
